section.about
  aside.about__sidebar
    figure.about__photo
      img(src='img/photo.jpg', srcset='img/photo@2x.jpg 2x', width='400', height='500', alt="Хамитов Тимур, верстальщик")
    .scills
      h2.about__title Инструменты и технологии:
      ul.scills__list
        li.scills__item
          svg.icon.icon--html
            use(xlink:href='#html-icon')
          //- p.scills__description HTML - 5
        li.scills__item
          svg.icon.icon--css
            use(xlink:href='#css-3-icon')
          //- p.scills__description CSS - 3
        li.scills__item
          svg.icon.icon--js
            use(xlink:href='#javascript-icon')
          //- p.scills__description Java-Script
        li.scills__item
          svg.icon.icon--pug
            use(xlink:href='#pug-icon')
          //- p.scills__description Шаблонизатор PUG(Jade)
        li.scills__item
          svg.icon.icon--bem
            use(xlink:href='#bem-icon')
          //- p.scills__description БЭМ - методология
        li.scills__item
          svg.icon.icon--less
            use(xlink:href='#less-icon')
          //- p.scills__description Препроцессор {LESS}
        li.scills__item              
          svg.icon.icon--sass
            use(xlink:href='#sass-icon')
          //- p.scills__description Препроцессор Sass
        li.scills__item
          svg.icon.icon--postcss
            use(xlink:href='#postcss-icon')
          //- p.scills__description PostCSS          
        li.scills__item
          svg.icon.icon--babel
            use(xlink:href='#babel-icon')
          //- p.scills__description Babel - транспайлер
        li.scills__item
          svg.icon.icon--gulp
            use(xlink:href='#gulp-icon')
          //- p.scills__description Система автоматизации - Gulp
        li.scills__item
          svg.icon.icon--git
            use(xlink:href='#git-icon')
          //- p.scills__description Система контроля версий Git              

        li.scills__item
          svg.icon.icon--svg
            use(xlink:href='#svg-icon')
          //- p.scills__description SVG, ретинизация

        li.scills__item
          svg.icon.icon--photoshop
            use(xlink:href='#photoshop-icon')
          //- p.scills__description Adobe Photoshop

  section.about__content
    .about__info
      h1.about__title.about__description.about__description--job Тимур Хамитов | HTML - верстальщик
      h2.about__title Основная специализация:
      p.about__description
        | Верстка различных проектов (фиксированная, резиновая, адаптивная) без посадки на CMS
      h2.about__title Ключевые навыки:
      ul.about__description
        li.about__item HTML, CSS.
        li.about__item JS (+jQuery).
        li.about__item Валидная, кроссбраузерная (IE9+), адаптивная, семантическая вёрстка.
        li.about__item LESS, Sass, Stylus. Предпочитаю Less
        li.about__item PostCss.
        li.about__item Проекты собираю Gulp-ом.
        li.about__item БЭМ на уровне именования селкторов.
        li.about__item Git-console
        li.about__item Верстка макетов из Аdobe Photoshop или Аdobe illustrator
        li.about__item Babel(щупаю EM2015).
        li.about__item SVG, ретинизация
      h2.about__title Образование:
      ul.about__description
        li.about__item Салаватский Индустриальный Коллежд 2004 г. (Автоматизация технологических процессов и производств)
        li.about__item УГАТУ 2011 г. (Автоматизация технологических процессов и производств)
        li.about__item 2015 Курсы Geekbrains Основы HTML + PHP
          a.about__link(href="https://geekbrains.ru/certificates/37594") HTML/CSS Основы создания сайтов
          a.about__link(href="https://geekbrains.ru/certificates/41113") PHP. Уровень 1
          a.about__link(href="https://geekbrains.ru/certificates/53900") PHP. Уровень 2
        li.about__item 2016 Интенсивный онлайн-курс «Продвинутый HTML и CSS» в HTML Academy.
        li.about__item Курс JavaScript от "Специалист" Игорь Борисов.
      h2.about__title Личные качества:
      p.about__description
        | Ответственность, обучаемость, внимателен к деталям, выдерживаю сроки, выдаю результат 
      h2.about__title Контакты:
      ul.about__description
        li.about__item: a.about__link(href="tel:+79177698940") Тел.: +7(917)769-89-40
        li.about__item: a.about__link(href="mailto:ricomen@mail.ru") E-mail: ricomen@mail.ru
        li.about__item: a.about__link(href="https://www.vk.com/ricomen") www.vk.com
        li.about__item: a.about__link(href="skype:ricomen") Skype

      h2.about__title Другое
      ul.about__description
        li.about__item Ready to fast relocation