footer.page-footer
  .container
    section.social
      a.social__link(href='http://www.vk.com/ricomen')
        svg.scills__icon(width='30', height='30')
          use(xlink:href='#vk-icon')
      a.social__link(href='https://www.facebook.com/timur.khamitov.1')
        svg.scills__icon(width='30', height='30')
          use(xlink:href='#facebook-icon')
      a.social__link(href='https://github.com/ricomen')
        svg.scills__icon(width='30', height='30')
          use(xlink:href='#git-icon')
      a.social__link(href='https://www.instagram.com/ricomens/')
        svg.scills__icon(width='30', height='30')
          use(xlink:href='#instagram-icon')