.main-nav {
  @media @phone {    
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    &--closed  &__list {
      display: none;      
    }
    &--nojs &__list{      
      display: block;
    }
  }
  &__list {
    margin: 0;
    padding: 25px 0;
    list-style: none;    
    @media @phone {      
      background-color: #fff;
    }
  }
  &__item {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
    &--contacts {
      text-transform: none;
    }
    @media @phone {
      display: block;
      margin-right: 0;
      padding: 10px 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &--active {
      text-decoration: underline;
    }
  }
  &__toggle {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    font-size: 28px;  
    line-height: 40px;  
  &::before,
  &::after {
    transition: 0.25s ease-in;
    position: absolute;
    content: "";    
    left: 5px;
    right: 5px;    
    height: 3px;
    background-color: #000;    
  }
  &::before {
    top: 10px;
    box-shadow: 0 8px #000;
  }
  &::after {
    top: 26px;
  }
  &--close {
    &::before,
    &::after {
      top: 19px;
      left: 5px;
      right: 5px;
      height: 3px;      
    }
    &::before {
      transform: rotate(45deg);
      box-shadow: 0 0 #fff;
    }
    &::after {
      transform: rotate(-45deg);
    }    
  }    
    @media @phone {
      display: block;
    }
  }
}
.no-css3 .main-nav__toggle {
  border: none;
  background: url("../img/icons/sprite.png") no-repeat 0px -50px;  
  &::before,
  &::after,
  &--close::before,
  &--close::after {
  display: none;
  
  }
}
.no-css3 .main-nav__toggle--close {
  background: url("../img/icons/sprite.png") no-repeat 0px 0px;
}