.page-footer {
  text-align: center;
  margin-bottom: 40px;
  &__social-link {
    text-decoration: none;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      svg {
        fill: #3081da;
      }
    }
  }
}