extends templates/layout
include templates/mixins

block title 
  title Главная

block main
  .container
    include includes/page-header
    include includes/about
    include includes/projects
    include includes/page-footer
  
block script
  //- script(src="js/libs/jquery-2.2.4.min.js")
  //- script(src="js/svg.min.js")
  //- script(src="js/main.js")